<!DOCTYPE html>
<html>
<head>
    <title>Dojo Bomberman</title>
    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>  
    <script type ="text/javascript" src="/js/renderData.js"></script>
    <script type="text/javascript" src="/js/client.js"></script>
    <!-- include any js files -->

</head>
<style>
	body {
		display: inline-block;
		align-content: top;
	}
</style>
<body onload="init()"> 
    <img src="./static/images/DojoBomberman-Banner1.png" alt="banner" style="width: 170px; margin-bottom: 1em">
    <canvas id="gameCanvas" width="425" height="340" style=""></canvas>
    <img src="./static/images/Dojo14weeks-Banner1.png" alt="banner" style="width: 170px; margin-bottom: 1em">
</body>